* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}
body {
  height: 1000px;
}
svg {
  fill: black;
}

#blur-bg {
  display: none;
  position: fixed;
  inset: 0;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(1.1px);
}


/* advertisment slider */
#slide-box .slider {
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  animation: sliding ease-in-out infinite;
}
.slider img {
  /* animation: sliding 10s ease-in-out infinite; */
  height: 50vh;
  width: 100%;
  object-fit: cover;
}


/* header */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 8rem;
  padding-top: 0;
  background-color: #181818;
  height: 18vh;
  margin-bottom: 1rem;
}
.navigation-bar * {
  color: white;
  display: flex;
  gap: 1.2rem;
}
.navigation-bar #logo {
  height: 100%;
  border-radius: 0 0 30% 30%;
}


/* home, menu, news, contact styling */
.option button{
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
} 
.option button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 0.1rem;
  transform-origin: right;
  background-color: white;
  transition: transform 0.1s;
  transform: scaleX(0);
}
.option button:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}


/* sidebar */
#sidebar {
  display: inline-block;
  padding: 5px 10px;
  width: 14vw;
  height: 100vh;
  background-color: rgb(95, 95, 95);
  position: sticky;
  top: 0;
  transition: .3s ease-in-out;
  text-wrap: nowrap;
  align-self: start;
  float: left;
  overflow: hidden;
}
#sidebar.close {
  width: 65px;
  transition: .3s ease-in-out;
}
#sidebar ul {
  list-style: none;
}
#sidebar li > button {
  border: none;
  background: none;
}
#sidebar a{
  text-decoration: none;
  color: black;
}
#sidebar #active {
  span {
    color: rgb(255, 162, 162);
  }
  svg {
    fill: rgb(255, 162, 162);
  }
}
#sidebar a, #sidebar .dropdown-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: .5rem;
  text-decoration: none;
  padding: .5rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  text-align: left;
}
#sidebar #close-btn {
  border-radius: .5rem;
  padding: .5rem;
  text-decoration: none;
}
#sidebar > ul >li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
#sidebar a:hover, #sidebar li > button:hover{
  background-color: rgba(0, 0, 0, 0.104);
}
#sidebar svg {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  fill: black;
}
#sidebar a span, #sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: .3s ease-in-out;

  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
.dropdown-btn svg:last-child {
  transition: .3s ease;
}
#sidebar .rotate svg:last-child { 
  transform: rotate(180deg);
}
#sidebar .sub-menu > div {
  padding-left: 1rem;
}


/* account singin button */
.account {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.account button{
  cursor: pointer;
  border-radius: 0.4rem;
  border: none;
  background-color: #cd9106;
  padding: 0.8rem 1.1rem;
}
.account button:hover {
  background-color: #af7c05;
  transition: 0.3s;
}


/* menu login */
.box {
  z-index: 2;
  display: none;
  position: fixed;
  inset: 0px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1rem;
  background-color: #ebebeb;
}
#exit-btn, #return-signin {
  font-size: 1.8rem;
  margin-left: 85%;
  cursor: pointer;
  background: none;
  border: none;
}
.frm-box {
  margin: 0 2.7rem;
  width: 20vw;
}
.box h1 {
  text-align: center;
  font-size: 1.7rem;
}
.box form{
  display: flex;
  flex-direction: column;
  padding: 2.2rem;
}
.username, .password, .email {
  border: none;
  height: 2rem;
  margin-bottom: 1.2rem;
  color: black;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.box input::placeholder {
  color: rgba(0, 0, 0, 0.304);
}
.box input:focus {
  outline: none;
}
#signup-btn {
  text-decoration: underline;
  color: #dd9d07;
  cursor: pointer;
  background: none;
  border: none;
  font-style:oblique;
}

#submit-btn {
  background-color: #dd9d07;
  border: none;
  width: 50%;
  height: 2rem;
  border-radius: 0.4rem;
  color: white;
}
#submit-btn:hover {
  background-color: #cd9106;
}


/* sign in form */
.frm-box-signin {
  display: none;
  background-color: black;
}


@keyframes sliding {
  0% {transform: translateX(0%);}
  10% {transform: translateX(-100%);}
  20% {transform: translateX(-100%);}
  30% {transform: translateX(-200%);}
  40% {transform: translateX(-200%);}
  50% {transform: translateX(-200%);}
  60% {transform: translateX(-300%);}
  70% {transform: translateX(-300%);}
  80% {transform: translateX(-300%);}
  90% {transform: translateX(0%);}
  100% {transform: translateX(0%);}
}